<div class="row new-category">
    <div class="span12">
        <div class="widget widget-nopad">
            <div class="widget-header"> <i class="fa fa-file"></i>
                <h3>Create New Topic</h3>
            </div>
            <!-- /widget-header -->
            <div class="widget-content">

                <form class="topic-form">

                    <div id="categories">
                        <div class="errors"></div>
                    </div>
                    <div class="form-group">
                        <label for="topic-name">Topic Name:</label>
                        <input class="form-control" id="topic-name" type="text" placeholder="Enter Topic Title" name="name">
                        <div class="errors"></div>
                    </div>
                    <div class="form-group">
                        <label for="topic-slug">Topic Slug:</label>
                        <input class="form-control" id="topic-slug" type="text" placeholder="Enter your Sluggable Url or leave it empty for autogeneration" name="slug">
                        <div class="errors"></div>
                    </div>
                    <div class="form-group">
                        <label for="tags">Tags:</label>
                        <input type="text" class="form-control tags" name="tags">
                    </div>
                    <div class="form-group">
                        <label for="topic-description">Description:</label>
                        <textarea class="form-control" id="topic-description" rows="10" name="description"></textarea>
                        <div class="errors"></div>

                        <div class="pull-left">
                            <a class="btn-link openMarkdownHelp">Open Markdown Help</a>&nbsp;
                            <a class="btn-link"> Attach</a>
                        </div>

                    </div>

                    <div class="form-group">
                        <!--
                        <div class="topic-new-notification checkbox">
                            <label><input type="checkbox" name="report_me">Report me when someone post a reply</label>
                        </div>
                        -->
                    </div>

                    <button class="btn btn-default pull-right" type="submit" value="Start Thread">Start Thread</button>
                </form>
            </div>

            <!-- /widget-content -->
        </div>
    </div>
</div>

