<div class="row new-category">
    <div class="span12">
        <div class="widget widget-nopad">
            <div class="widget-header"> <i class="fa fa-file"></i>
                <h3>Create New Topic</h3>
            </div>
            <!-- /widget-header -->
            <div class="widget-content">
                <form class="topic-form">
                    <div id="categories"></div>
                    <div class="topic-new-head"></div>
                    <button class="btn btn-default pull-right" type="submit" value="Start Thread">Start Thread</button>
                </form>
            </div>

            <!-- /widget-content -->
        </div>
    </div>
</div>