<div class="span12">

    <div class="widget widget-nopad">
        <div class="widget-header">
            <span id="categoryForBreadcrumbs"></span>
            <div class="create-topic pull-right">
                <a class="btn btn-warning btn-lg" href="#topic/create/{{ categoryId }}">
                    <i class="fa fa-file-o"></i>&nbsp;<span class="hidden-xs">Create topic</span>
                </a>
            </div>
        </div>
        <!-- /widget-header -->
        <div class="widget-content" id="posts"></div>
        <!-- /widget-content -->
    </div>
</div>