<div class="modal fade">
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title">Confirm action</h4>
        </div>
        <div class="modal-body">
            <p>Are you sure you wish to remove &quot;<b>{{name}}</b>&quot; category?</p>
            <div class="errors"></div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" id="delete-confirm-btn">Remove</button>
            <button class="btn btn-default" data-dismiss="modal">Cancel</button>
        </div>
    </div>
</div>