<div class="topic">
    <div class="topic-head topic-comment">
        <div class="topic-comment-flex">
            <div class="topic-bar hidden-xs">
                <div class="topic-avatar topic-avatar-border">
                    <img src="/images/user.png">
                </div>
                <div class="topic-addition">

                </div>
            </div>
            <div class="topic-body">
                <div class="topic-header">
                    <h4>{{ name }}</h4>
                </div>
                <div class="topic-msg">
                    <p> {{ description }}</p>
                </div>
                <div class="topic-tags">
                    <span>#movie</span><span>#cinema</span>
                </div>
            </div>
        </div>
        <div class="topic-control">
            <div class="topic-bar hidden-xs"></div>
            <div class="topic-history">{{ created_at }}: usernik</div>
            <div class="topic-control-btn">
                <a class="edit-btn">Edit</a>
                <a class="bookmark-btn">Bookmark</a>
                <a class="share-btn">Share</a>
                <a class="answer-btn">Answer</a>
                <a class="notification-btn">notification</a>
            </div>
        </div>

        <div class="new-comment-container"></div>
    </div>


    <div class="topic-comments" id="topic-comments">

    </div>

    <a class="topic-more">Load more</a>
</div>

