<div class="row topics">
    <div class="span12">
        <div class="topic-head topic-comment"></div>

        <div class="new-comment-container newcomment"></div>

        <div class="topic-comments" id="topic-comments"></div>

        <!--<a class="topic-more">Load more</a>-->
    </div>
</div>