<div class="row topics">
    <div class="span1">&nbsp;</div>
    <div class="span10">
        <div class="widget widget-nopad">
            <div class="widget-header"> <i class="fa fa-lis"></i>
                <h3>Categories</h3>
                {{#if isAdmin}}
                    <div class="create-topic pull-right">
                        <a href="#topicCategories/create">
                            <button class="btn btn-warning btn-lg">
                                <span class="hidden-xs">Create category</span>
                                <i class="fa fa-plus" aria-hidden="true"></i>
                            </button>
                        </a>
                    </div>
                {{/if}}
            </div>
        </div>
    </div>
    <div class="span1">&nbsp;</div>
</div>
<div class="row topics">
    <div class="span1">&nbsp;</div>
    <div class="span10" id="categories">&nbsp;</div>
    <div class="span1">&nbsp;</div>
</div>