<div class="topic">
    <div class="topic-head topic-comment">
        <div class="topic-comment-flex">
            <div class="topic-bar hidden-xs">
                <div class="topic-avatar topic-avatar-border">
                    <img src="/images/user.png">
                </div>
                <div class="topic-addition">

                </div>
            </div>
            <div class="topic-body">
                <div class="topic-header">
                    <h4>{{ model.name }}</h4>
                </div>
                <div class="topic-msg">
                    <p> {{ model.description }}</p>
                </div>
                <div class="topic-tags">
                    <span>#movie</span><span>#cinema</span>
                </div>
            </div>
        </div>
        <div class="topic-control">
            <div class="topic-bar hidden-xs"></div>
            <div class="topic-history">{{ createdDate }}: usernik</div>
            <div class="topic-control-btn">
                <a>Edit</a><a>Answer</a><button class="bookmark-btn text-info">Bookmark</button> <button class="subscribe-btn text-info">Subscribe</button>
            </div>
        </div>
    </div>
    <div class="topic-comments" id="topic-comments">

    </div>
    <a class="topic-more">Load more</a>
    <div class="topic-comment-main">
        <div class="topic-comment-flex">
            <div class="topic-bar hidden-xs">
                <div class="topic-avatar">
                    <img src="/images/user.png">
                </div>
                <div class="topic-addition">

                </div>
            </div>
            <div class="topic-body">
                <textarea class="form-control" rows="3" placeholder="Comment..."></textarea>
                <div class="topic-attachment"><a>Attach</a></div>
            </div>
        </div>
        <div class="topic-control">
            <div class="topic-control-btn topic-control-add">
                <button class="btn btn-default">Add comment</button>
            </div>
        </div>
    </div>
</div>