<div class="topic-comment-item">
    <div class="topic-comment-main">
        <div class="topic-comment-flex">
            <div class="topic-bar hidden-xs">
                <div class="topic-avatar">
                      {{#if meta.user.url_avatar}}<img src={{meta.user.url_avatar}}{{else}}<img src='images/user.png'>{{/if}}
                </div>
                <div class="topic-addition"></div>
            </div>
            <div class="topic-body">
                <div class="topic-msg">
                    <p>Even though a field is marked as 'editable=False' in the model, I would like the admin page to display it. Currently it hides the field altogether.. How can this be achieved ?</p>
                </div>
            </div>
        </div>
        <div class="topic-control">
            <div class="topic-history-margin hidden-xs"></div>
            <div class="topic-history">P: 21 Nov 9:43 U: usernik</div>
            <div class="topic-control-btn">
                <a>Edit</a><a>Share</a><a>Reply</a><a>notification</a>
            </div>
        </div>
    </div>
    <div class="topic-comment-included">
        <!-- comments on this comment container -->
        <!-- comment item such as this item -->
        <!-- <div class="topic-comment-item">
                <div class="topic-comment-main">
                    <di ... -->
    </div>
</div>