<div class="topic">
    <div class="topic-head topic-comment-item"></div>

    <div id="newcomment" class="new-comment-container"></div>

    <div class="topic-comments" id="topic-comments"></div>

    <a class="topic-more">Load more</a>
</div>

