<div class="container-fluid">
    <div class="row">
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
            <div class="post-title">{{ name }}</div>
        </div>
        <div class="col-sm-2 col-md-2 col-lg-2 hidden-xs">
            <div class="text-center">{{ rating }}</div>
        </div>
        <div class="col-sm-2 col-md-2 col-lg-2 hidden-xs">
            <div class="text-center">{{ reviewed_number }}</div>
        </div>
        <div class="col-sm-1 col-md-1 col-lg-1 hidden-xs">
            <div class="text-center">1</div>
        </div>
        <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
            <div class="text-center">30.08.2016</div>
        </div>
    </div>
</div>
