<div class="row dashboard">
    <div class="counters"></div>

    <!-- left section -->
    <div class="span6">
        <div class="widget widget-nopad">
            <div class="widget-header"> <i class="fa fa-comments"></i>
                <h3> Recent Topics</h3>
            </div>
            <!-- /widget-header -->
            <div class="widget-content topics"></div>
            <!-- /widget-content -->
        </div>

        <div class="widget widget-nopad">
            <div class="widget-header"> <i class="fa fa-users"></i>
                <h3> Online Users</h3>
            </div>
            <!-- /widget-header -->
            <div class="widget-content users"></div>
            <!-- /widget-content -->
        </div>

    </div>

    <!-- right section -->
    <div class="span6">

        <div class="widget widget-nopad">
            <div class="widget-header"> <i class="fa fa-asl-interpreting"></i>
                <h3> Recent Votes</h3>
            </div>
            <!-- /widget-header -->
            <div class="widget-content votes"></div>
            <!-- /widget-content -->
        </div>

        <div class="widget widget-nopad">
            <div class="widget-header"> <i class="icon-list-alt"></i>
                <h3> Last Messages</h3>
            </div>
            <!-- /widget-header -->
            <div class="widget-content">
                <ul class="news-items messages"></ul>
            </div>
            <!-- /widget-content -->
        </div>

        <div class="widget widget-nopad">
            <div class="widget-header"> <i class="fa fa-bookmark"></i>
                <h3> My bookmarks</h3>
            </div>
            <!-- /widget-header -->
            <div class="widget-content bookmarks"></div>
            <!-- /widget-content -->
        </div>

        <div class="widget widget-nopad">
            <div class="widget-header"> <i class="fa fa-bell"></i>
                <h3> My subscriptions</h3>
            </div>
            <!-- /widget-header -->
            <div class="widget-content subscriptions"></div>
            <!-- /widget-content -->
        </div>

    </div>
</div>