<div class="row dashboard">
    <div class="counters"></div>

    <!-- left section -->
    <div class="span6">
        <div class="widget widget-nopad">
            <div class="widget-header"> <i class="icon-list-alt"></i>
                <h3> Recent Topics</h3>
            </div>
            <!-- /widget-header -->
            <div class="widget-content">
                <ul class="news-items topics"></ul>
            </div>
            <!-- /widget-content -->
        </div>

        <div class="widget widget-nopad">
            <div class="widget-header"> <i class="icon-list-alt"></i>
                <h3> Online Users</h3>
            </div>
            <!-- /widget-header -->
            <div class="widget-content">
                <ul class="news-items users"></ul>
            </div>
            <!-- /widget-content -->
        </div>

    </div>

    <!-- right section -->
    <div class="span6">

        <div class="widget widget-nopad">
            <div class="widget-header"> <i class="icon-list-alt"></i>
                <h3> Recent Votes</h3>
            </div>
            <!-- /widget-header -->
            <div class="widget-content">
                <ul class="news-items votes"></ul>
            </div>
            <!-- /widget-content -->
        </div>

        <div class="widget widget-nopad">
            <div class="widget-header"> <i class="icon-list-alt"></i>
                <h3> My bookmarks</h3>
            </div>
            <!-- /widget-header -->
            <div class="widget-content">
                <ul class="news-items bookmarks"></ul>
            </div>
            <!-- /widget-content -->
        </div>

        <div class="widget widget-nopad">
            <div class="widget-header"> <i class="icon-list-alt"></i>
                <h3> Last Messages</h3>
            </div>
            <!-- /widget-header -->
            <div class="widget-content">
                <ul class="news-items messages"></ul>
            </div>
            <!-- /widget-content -->
        </div>

    </div>
</div>