<div class="row dashboard">
    <div class="counters"></div>

    <!-- left section -->
    <div class="span6">

        <div class="widget widget-nopad">
            <div class="widget-header">
                <i class="fa fa-comments"></i><h3> Recent Topics</h3>
                <div class="pull-right right-margin-10">
                    <a href="#mytopics"><i class="fa fa-user"></i> My Topics</a>
                </div>
            </div>
            <!-- /widget-header -->
            <div class="widget-content topics"></div>
            <!-- /widget-content -->
        </div>

    </div>

    <!-- right section -->
    <div class="span6">

        <div class="widget widget-nopad">
            <div class="widget-header">
                <i class="fa fa-asl-interpreting"></i><h3> Recent Votes</h3>
                <div class="pull-right right-margin-10">
                    <a href="#userVotes"><i class="fa fa-user"></i> My Votes</a>
                </div>
            </div>
            <!-- /widget-header -->
            <div class="widget-content votes"></div>
            <!-- /widget-content -->
        </div>

        <div class="widget widget-nopad">
            <div class="widget-header"> <i class="fa fa-bookmark"></i>
                <h3> My last bookmarks</h3>
                <div class="pull-right right-margin-10">
                    <a href="#bookmarks"><i class="fa fa-list"></i> View all</a>
                </div>
            </div>
            <!-- /widget-header -->
            <div class="widget-content bookmarks"></div>
            <!-- /widget-content -->
        </div>

        <div class="widget widget-nopad">
            <div class="widget-header"> <i class="fa fa-bell"></i>
                <h3> My last subscriptions</h3>
                <div class="pull-right right-margin-10">
                    <a href="#subscriptions"><i class="fa fa-list"></i> View all</a>
                </div>
            </div>
            <!-- /widget-header -->
            <div class="widget-content subscriptions"></div>
            <!-- /widget-content -->
        </div>

        <div class="widget">
            <div class="widget-header"> <i class="fa fa-comments-o"></i>
                <h3> Last Messages</h3>

                <div class="pull-right right-margin-10">
                    <a href="#messages"><i class="fa fa-list"></i> View all</a>
                </div>
            </div>
            <!-- /widget-header -->
            <div class="widget-content messages"></div>
            <!-- /widget-content -->
        </div>

    </div>
</div>