<div>
    <div class="">
        <div class="">
            <h3>Last topics</h3>
            <div class="post-head">
                <div class="">
                    <div class="row">
                        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                            <div>Title</div>
                        </div>
                        <div class="col-sm-1 col-md-1 col-lg-1 hidden-xs">
                            <div class="text-center">Rating</div>
                        </div>
                        <div class="col-sm-1 col-md-1 col-lg-1 hidden-xs">
                            <div class="text-center">Views</div>
                        </div>
                        <div class="col-sm-1 col-md-1 col-lg-1 hidden-xs">
                            <div class="text-center">Active users</div>
                        </div>
                        <div class="col-sm-1 col-md-1 col-lg-1 hidden-xs">
                            <div class="text-center">Answers</div>
                        </div>
                        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                            <div class="text-center">Date</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="topics"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-6">
            <h3>Online users</h3>
            <div class="users"></div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6">
            <h3>Last votes</h3>
            <div class="votes"></div>
        </div>
    </div>
</div>