<div class="dashboard">
    <div class="">
        <div class="col-xs-12">
            <div class="counters"></div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-9"><div class="content"></div></div>
        <div class="col-xs-12 col-sm-12 col-md-3"><div class="sidebar"></div></div>
    </div>
</div>

