<div class="col-xs-6 col-md-3">
    <a href="{{ url }}" class="thumbnail" target="_blank">
        <img src="{{ url }}" alt="">
    </a>
    <div class="file-name">{{ cloud_public_id }}</div>
</div>

