<div class="topic-comment-main">
    <div class="topic-comment-flex">
        <div class="topic-bar hidden-xs">
            <div class="topic-avatar">
                <img src="/images/user.png">
            </div>
            <div class="topic-addition">

            </div>
        </div>
        <div class="topic-body">
            <textarea class="form-control" rows="3" placeholder="Comment..."></textarea>
            <div class="topic-attachment"><a>Attach</a></div>
        </div>
    </div>
    <div class="topic-control">
        <div class="topic-control-btn topic-control-add">
            <button class="btn btn-default">Add comment</button>
        </div>
    </div>
</div>
