<form action="">
    <div class="topic-comment-main">
        <div class="close-btn text-right"><button type="button" class="btn btn-warning btn-sm">
            <span class="glyphicon glyphicon-remove"></span></button>
        </div>
        <div class="container-fluid">
            <div class="alert alert-danger errors hidden"></div>
        </div>
        <div class="topic-comment-flex">
            <div class="topic-bar hidden-xs">
                <div class="topic-avatar">
                    <img src="/images/user.png">
                </div>
                <div class="topic-addition">

                </div>
            </div>
            <div class="topic-body">
                <textarea class="form-control" rows="3" placeholder="Comment..." name="content_origin">{{ content_origin }}</textarea>
                <div class="topic-attachment">
                    <button type="button" class="btn btn-default">Attach</button>
                </div>
            </div>
        </div>
        <div class="hidden dropzone-container">
            <div id="drop" class="dropzone"></div>
        </div>
        <div class="topic-control">
            <div class="topic-control-btn topic-control-add">
                <span class="loader hidden"><img src="/images/comment-loader.gif" alt=""></span>
                <button class="btn btn-default" id="submit">Add comment</button>
            </div>
        </div>
    </div>
</form>
