<div class="topic-comment-item">
    <div class="topic-comment-main">
        <div class="alert errors collapse"></div>
        <div class="comment-header"></div>
    </div>

    <div class="topic-comment-included collapse">
        <div class="topic-comment-childs"></div>
    </div>
</div>
