<div class="modal collapse" id="commentdlg">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
            </div>
            <div class="modal-body">
                <div class="alert alert-info errors hidden"></div>
                <form action="">
                    <div class="form-group">
                        <textarea class="form-control" rows="3" placeholder="Comment..." name="content_origin">{{ content_origin }}</textarea>
                    </div>
                    <div class="text-right form-group">
                        <button type="button" class="btn btn-default" data-toggle="collapse"
                                data-target=".dropzone-container">Attach</button>
                    </div>
                    <div class="collapse dropzone-container">
                        <div id="drop" class="dropzone"></div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <span class="loader hidden"><img src="/images/comment-loader.gif" alt=""></span>
                <button class="btn btn-default" id="submit">Save comment</button>
            </div>
        </div>
    </div>
</div>

