<div class="message-msg-item">
    <!-- addition class 'to' or 'from' to mark msg direction -->
    <div class="message-item-container {{messageDirection}}">
        <div class="message-msg-avatar">
            <!-- message owner avatar -->
            <img src="/images/user.png">
        </div>
        <div class="message-msg-body">
            <p>{{message}}</p>
            <span>{{updated_at}}</span>
            <a>Edit</a><a>Delete</a>
        </div>
    </div>
</div>