<div class="messages">
    <div id="users-search">
        <input id="typeahead" class="typeahead" type="text" placeholder="Search user for conversation">
    </div>
    <div class="messages-user-container" id="users-messages">

    </div>
</div> 