<div class="messages">
    <div id="users-search" class="typeahead-container">
        <input id="typeahead" class="typeahead" type="text" placeholder="Search users for conversation">
    </div>
    <div class="messages-user-container" id="users-messages">

    </div>
</div> 