<div class="message-dialog">
    <div class="message-msg-container" id="dialog-messages">

    </div>
    <div class="message-new">
        <textarea class="form-control" rows="3" placeholder="Message..."></textarea>
        <div class="message-new-control">
            <a>Attach</a><button>Send</button>
        </div>
    </div>
</div>