<div class="messages-user-item">
    <a href="#messages/user/{{user_from_id}}">
        <div class="messages-msg-avatar hidden-xs">
            <!-- from msg avatar -->
            <img src="/images/user.png">
        </div>
        <div class="messages-msg">
            <span>{{user_from_id}}</span>
            <!-- if unread add class .unread -->
            <div class="messages-msg-body">
                <div>
                    <p>{{message}}</p>
                </div>
            </div>
        </div>
    </a>
</div>