<div class="messages-msg-avatar">
        <!-- user from msg avatar -->
        <img src="/images/user.png">
    </div>
<div class="messages-msg">
    <span>{{from_user}}</span>
    <!-- if unread add class .unread -->
    <a class="messages-msg-body">
        <div>
            <p>{{message}}</p>
        </div>
    </a>
</div>