<div class="message-msg-item">
    <div class="message-msg-avatar">
        <img src="/images/user.png">
    </div>
    <div class="message-msg-body">
        <span>{{user_from}}</span>
        <p>{{message}}</p>
    </div>
</div>