<div class="modal fade">
    <div class="modal-dialog" role="document">
        <div class="modal-content message-edit">
            <div class="modal-body">
                <textarea id="edited-message">{{model.message}}</textarea>
                <span>{{edit_et}} {{model.updated_at}}</span>
            </div>
            <div class="modal-footer message-new-control">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-secondary" id="message-save">Save</button>
            </div>
        </div>
    </div>
</div>