<div class="message-msg-item">
    <div class="message-item-container to">
        <div class="message-msg-avatar">
            <!-- message owner avatar -->
            <img src="/images/user.png">
        </div>
        <div class="message-msg-body">
            <p>{{message}}</p>
            <span>{{data}}</span>
            <a>Edit</a><a>Delete</a>
        </div>
    </div>
</div>