<div class="row messages">
    <div class="span12">

        <div id="users-search" class="typeahead-container">
            <input id="typeahead" class="typeahead" type="text" placeholder="Search users for conversation">
        </div>

        <div class="widget">
            <div class="widget-header"> <i class="fa fa-comments-o"></i>
                <h3> Last Dialogs</h3>
            </div>
            <!-- /widget-header -->
            <div class="widget-content" id="users-messages"></div>
            <!-- /widget-content -->
        </div>

    </div>
</div>