<div class="menu-container">
    <div class="container">
        <nav class="navbar" id="menu">
            <!-- <div class="container-fluid"> -->
            <div class="navbar-header">
                <button type="button" class="btn btn-navbar navbar-toggle btn-lg"
                        data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="glyphicon glyphicon-align-justify"></span>
                </button>
            </div>
            <div class="navbar-collapse navbar-ex1-collapse collapse" aria-expanded="true">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="/">Topics</a></li>
                    <li><a href="/#users">Users</a></li>
                    <li><a href="">Subscribes</a></li>
                    <li><a href="">Votes</a></li>
                    <li><a href="">Notifications</a></li>
                </ul>
            </div>
            <!-- </div> -->
        </nav>

    </div>
</div>