<div class="menu-container">
    <div class="container">
        <nav class="navbar" id="menu">
            <div class="navbar-header">
                <button type="button" class="btn btn-navbar navbar-toggle btn-lg"
                        data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="glyphicon glyphicon-align-justify"></span>
                </button>
            </div>
            <div class="navbar-collapse navbar-ex1-collapse collapse" aria-expanded="true">
                <div id="navig-menu"></div>
            </div>
        </nav>
    </div>
</div>
