<div class="form-group">
    <label for="usr">Question:</label>
    <input type="text" class="form-control" id="question-title" value="{{model.title}}" {{#ifCond meta.editable '==' false}}disabled{{/ifCond}}>
    <div class="js-errors js-error-title"></div>
</div>

<div class="form-group">
    <label for="usr">Tags(Split them using spaces, no #):</label>
    <input type="text" id="tags" class="form-control" value="{{meta.tags}}" {{#ifCond meta.editable '==' false}}disabled{{/ifCond}}>
    <div class=" js-errors js-error-tags"></div>
</div>

<div class="form-group">
    <label>Select <span class="underscored">full time</span> when the vote will be finished or leave this field untouched.  </label>
    <input type="datetime-local" class="form-control" value="{{meta.finished_at}}" id="finished" {{#ifCond meta.editable '==' false}}disabled{{/ifCond}}>
    <div class="js-errors js-error-dateInPast"></div>
</div>

{{#ifCond meta.editable '==' false}}
<div class="form-group">
    <label>Count of answers:</label>
    <div class="radio">
        <label><input type="radio" class="single-1" disabled name="isSingle" value="1" checked>Single</label>
    </div>
    <div class="radio">
        <label><input type="radio" class="single-0" disabled name="isSingle" value="0">Multiple</label>
    </div>
</div>
<div class="form-group">
    <label>Access:</label>
    <div class="radio">
        <label><input type="radio" class="public-1" disabled name="access" value="1" checked>Public</label>
    </div>
    <div class="radio">
        <label><input type="radio" class="public-0" disabled name="access" value="0">Private</label>
    </div>
</div>
{{else}}
    <div class="form-group">
        <label>Count of answers:</label>
        <div class="radio">
            <label><input type="radio" class="single-1" name="isSingle" value="1" checked>Single</label>
        </div>
        <div class="radio">
            <label><input type="radio" class="single-0" name="isSingle" value="0">Multiple</label>
        </div>
    </div>
    <div class="form-group">
        <label>Access:</label>
        <div class="radio">
            <label><input type="radio" class="public-1" name="access" value="1" checked>Public</label>
        </div>
        <div class="radio">
            <label><input type="radio" class="public-0" name="access" value="0">Private</label>
        </div>
    </div>
{{/ifCond}}


<div class="vote-new-attachment">
    <div id="vote-attachments">

        <!-- Attachments -->

    </div>
    <a>Attach</a>
</div>