<div class="form-group">
    <label for="usr">Question:</label>
    <input type="text" class="form-control" id="question-title" value="{{model.title}}" {{#if meta.editable}}disabled{{/if}}>
    <div class="js-errors js-error-title"></div>
</div>

<div class="form-group">
    <label for="usr">Tags(Split them using spaces, no #):</label>
    <input type="text" id="tags" class="form-control" value="{{meta.tags}}">
    <div class=" js-errors js-error-tags"></div>
</div>

<div class="form-group">
    <label>Select <span class="underscored">full time</span> when the vote will be finished or leave this field untouched.  </label>
    <input type="datetime-local" class="form-control" id="finished" value="11.11.1111 11:11">
    <div class="js-errors js-error-dateInPast"></div>
</div>

<div class="form-group">
    <label>Count of answers:</label>
    <div class="radio">
        <label><input type="radio" name="isSingle" value="1" checked>Single</label>
    </div>
    <div class="radio">
        <label><input type="radio" name="isSingle" value="0">Multiple</label>
    </div>
</div>
<div class="form-group">
    <label>Access:</label>
    <div class="radio">
        <label><input type="radio" name="access" value="1" checked>Public</label>
    </div>
    <div class="radio">
        <label><input type="radio" name="access" value="0">Private</label>
    </div>
</div>
<div class="vote-new-attachment">
    <div id="vote-attachments">

        <!-- Attachments -->

    </div>
    <a>Attach</a>
</div>