<div class="vote-new">
    <div class="vote-new-head">
        <h4>My Question</h4>
    </div>
    <div class="vote-new-answers">
        <p>Answers</p>
        <div id="vote-answers">


            <div class="vote-answer">
                <label for="answ1">
                    <input id="answ1" type="checkbox"> Answer one
                </label>
            </div>
            <div class="vote-answer">
                <label for="answ2">
                    <input id="answ2" type="checkbox"> Answer two
                </label>
            </div>


        </div>
        <div class="vote-new-addAnswer">
            <button type="button">
                <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span> Add Answer
            </button>
        </div>
    </div>
    <div class="vote-new-date">
        <p>Timeline</p>
        <input type="text" placeholder="Available from"><input type="text" placeholder="Available to">
    </div>
    <div class="vote-new-access">
        <p>Access</p>
        <div class="form-inline">
            <div class="form-group">
                <label for="public">Public</label>
                <input id="public" name="access" type="radio">
            </div>
            <div class="form-group">
                <label for="private">Private</label>
                <input id="private" name="access" type="radio">
            </div>
        </div>
        <div class="vote-new-users">
            <p><small>Click to remove</small></p>
            <div id="vote-access-users">


                <span>USer 1</span><span>User Nickname</span>


            </div>
        </div>
        <div class="vote-new-addUsers">
            <input type="text" placeholder="Add user..">
            <button><span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span> Add</button>
        </div>
    </div>
    <div class="vote-new-attachment" >
        <div id="vote-attachments">

            <!-- Attachments -->

        </div>
        <a>Attach</a>
    </div>
    <div class="vote-new-control">
        <div class="vote-new-notification checkbox">
            <label><input type="checkbox">Report me when someone post a reply</label>
        </div>
        <div class="vote-new-submit">
            <input type="submit" value="Start Thread">
        </div>
    </div>
</div> 