<div class="row topics">
    <div class="span1">&nbsp;</div>
    <div class="span10">
        <div class="vote-bar hidden-xs">
            <div class="vote-avatar">
                <img src="/images/user.png">
            </div>
            <div class="vote-addition">

            </div>
        </div>
        <div class="vote-body">
            <div id="vote-header"></div>
            <div id="answers">

            </div>
            <button class="btn btn-default disabled commit-vote">Vote</button>

            <div class="vote-attachments">
                Attachments
            </div>
            <div class="vote-comments">
                <h4><span class="count">{{ meta.comments }}</span> Comments</h4>
                <div id="add-comment"></div>
                <div class="new-comment-notification">new comment was added</div>

                <div id="comments">


                </div>
                <div id="add-comment"></div>
            </div>
        </div>
    </div>
</div>
