<div class="vote-comment-add">
    <div class="vote-comment-avatar">
        <img src="images/user.png">
    </div>
    <div class="vote-comment-body">
    <div class="errors"></div>
        <textarea class="form-control js-comment-text" rows="3" placeholder="Comment..."></textarea>
        <div class="vote-comment-attachment"><a>Attach</a></div>
        <button class="btn btn-default js-confirm">Add comment</button>
    </div>
</div>