{{#unless meta.isFinished}}
<div>
    {{#if meta.summaryFormatted}}
    {{#unless meta.userIsAdminOrTS}}
    <div><br>
        <h4>Voting summary:</h4>
        <hr>{{{meta.summaryFormatted}}}<hr></div>
    {{/unless}}
    {{/if}}
</div>

{{#if meta.userIsAdminOrTS}}
<div>
    <textarea rows="5" class="form-control description" id="summary">{{model.summary}}</textarea>
    <button class="btn btn-info pull-right" id="summary-save-btn">Save summary</button>
</div>
{{/if}}

{{/unless}}