<input type="text" class="form-control js-item-name limited-block-for-corner-button" value="{{model.name}}">
<button class="btn btn-md btn-danger corner-button"><span class="glyphicon glyphicon-remove-sign"></span></button>
<div class="js-errors js-error-field"></div>