<div class="vote-new">
    <div class="vote-new-head">
        <div class="form-group">
            <label for="usr">Question:</label>
            <input type="text" class="form-control" id="question-title">
            <div class="js-errors js-error-title"></div>
        </div>
        <div class="form-group">
            <label>Description:</label><br>
            <textarea rows="5" class ="form-control description" id="question-description"></textarea>
            <div class="js-errors js-error-title"></div>
        </div>
    </div>
    <div class="vote-new-answers">
        <div class="form-group">
            <label for="usr">Answers:</label>
            <div id="vote-answers">

            </div>

        </div>
        <div class="vote-new-addAnswer">
            <button type="button" class="btn btn-default" id="addAnswer">
                <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span> Add Answer
            </button>
        </div>
    </div>
    <div class="form-group">
        <label for="tags">Tags:</label>
        <input type="text" class="tags form-control" data-role="tagsinput" name="tags">
        <div class="js-errors js-error-tags"></div>
    </div>
    <div class="form-group">
        <label>Select <span class="underscored">full time</span> when the vote will be finished or leave this field untouched.  </label>
        <input type="datetime-local" class="form-control" id="finished">
    </div>
    <div class="js-errors js-error-finished_at"></div>
    <!--</div>-->
    <div class="form-group">
        <label>Count of answers:</label>
        <div class="radio">
            <label><input type="radio" name="isSingle" value="1" checked>Single</label>
        </div>
        <div class="radio">
            <label><input type="radio" name="isSingle" value="0">Multiple</label>
        </div>
    </div>
    <div class="form-group">
        <label>Access:</label>
        <div class="radio">
            <label><input type="radio" name="access" value="1" checked>Public</label>
        </div>
        <div class="radio">
            <label><input type="radio" name="access" value="0">Private</label>
        </div>
    </div>
    <div class="vote-new-attachment">
        <div id="vote-attachments">

            <!-- Attachments -->

        </div>
        <a>Attach</a>
    </div>
    <div class="vote-new-control">
        <!--<div class="vote-new-notification checkbox">-->
            <!--<label><input type="checkbox">Report me when someone leave a comment</label>-->
        <!--</div>-->
        <div class="vote-new-submit">
            <button id="delete" type="button" class="btn btn-md btn-danger">Delete Vote</button>
            <button id="start" type="button" class="btn btn-md btn-success">Start Vote</button>
        </div>
    </div>
    <div class="vote-new-access">
        <div class="form-group well">
            <label for="usr">Accessed:</label>
            <div id="vote-access-users">
            </div>
        </div>
        <div class="form-group well">
            <label for="usr">Not accessed:</label>
            <div id="vote-new-addUsers">
            </div>
        </div>
    </div>
</div> 