<div class="vote-new">
    <div class="vote-new-head">
        <div class="form-group">
            <label for="usr">Question:</label>
            <input type="text" class="form-control" id="question-title">
            <div class="js-errors js-error-title" style="color: indianred;"></div>
        </div>
    </div>
    <div class="vote-new-answers">
        <div class="form-group">
            <label for="usr">Answers:</label>
            <div id="vote-answers">

            </div>

        </div>
        <div class="vote-new-addAnswer">
            <button type="button" class="btn btn-default" id="addAnswer">
                <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span> Add Answer
            </button>
        </div>
    </div>
    <!--<div class="vote-new-date">-->
    <div class="form-group">
        <label>Select time when the vote will be finished. Usual format: DD/MM/YYYY HH/mm/ss</label>
        <input type="text" class="form-control" placeholder="YYYY/MM/DD HH/mm/ss" id="finished" value="{{addDate}}">
    </div>
    <div class="js-errors js-error-dateInPast" style="color: indianred;"></div>
    <div class="js-errors js-error-invalidDate" style="color: indianred;"></div>
    <!--</div>-->
    <div class="form-group">
        <label>Count of answers:</label>
        <div class="radio">
            <label><input type="radio" name="isSingle" value="s" checked>Single</label>
        </div>
        <div class="radio">
            <label><input type="radio" name="isSingle" value="m">Multiple</label>
        </div>
    </div>
    <div class="form-group">
        <label for="usr">Access:</label>
        <div class="radio">
            <label><input type="radio" name="access" value="1" checked>Public</label>
        </div>
        <div class="radio">
            <label><input type="radio" name="access" value="0">Private</label>
        </div>
    </div>
    <div class="vote-new-attachment">
        <div id="vote-attachments">

            <!-- Attachments -->

        </div>
        <a>Attach</a>
    </div>
    <div class="vote-new-control">
        <!--<div class="vote-new-notification checkbox">-->
            <!--<label><input type="checkbox">Report me when someone leave a comment</label>-->
        <!--</div>-->
        <div class="vote-new-submit">
            <input id="start" type="submit" value="Start Thread">
        </div>
    </div>
    <div class="vote-new-access" style="display: none;">
        <div class="form-group">
            <label for="usr">Accessed:</label>
            <div id="vote-access-users">
            </div>
        </div>
        <div class="form-group">
            <label for="usr">Not accessed:</label>
            <div id="vote-new-addUsers">
            </div>
        </div>
    </div>
</div> 