<div class="row">
    <div class="span12">
        <div class="widget-content vote">


            <div class="vote-bar hidden-xs">
                <div class="vote-avatar">
                    <img src="images/user.png">
                </div>
                <div class="vote-addition">

                </div>
            </div>
            <div class="vote-body">
                <div id="vote-header"></div>
                <div id="answers" class="container-fluid">

                </div>
                <button class="btn btn-default disabled commit-vote">Vote</button>

        <div class="vote-attachments">
            Attachments
        </div>

        <div class="topic-control">
            <div class="topic-bar hidden-xs"></div>
            <div class="topic-history">{{ model.created_at }} {{ meta.user.display_name }}</div>
            <div class="topic-control-btn">
                <a href="#votes/{{slug}}/edit" class="topic-edit-btn">Edit</a>
                <a class="topic-answer-btn">Answer</a>
            </div>
        </div>

        <div class="vote-comments">
            <h4><span class="count"></span>/<span class="count-total"></span> Comments</h4>
            <div id="add-comment"></div>

            <div class="new-comment-notification">new comment was added</div>

            <div id="comments"></div>

            <a class="vote-comments-more vote-comments-btn">Load more</a>

          </div>

        </div>
    </div>
</div>
