<!--<div class="vote-comment">-->
    <div class="vote-comment-avatar">
        <img src="/images/user.png">
    </div>
    <div class="vote-comment-body">
        <h4>{{ meta.user.first_name }} {{ meta.user.last_name }} <span>{{ createdDate }}</span></h4>
        <p class="vote-comment-text">{{ model.content_origin }}</p>
    </div>
    <div class="vote-comments" id="comment-answer">

    </div>
<!--</div>-->