{{#if meta.vote.is_single}}
    <div class="radio">
        <label>
            <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1">
            {{ model.name }}
        </label>
    </div>

{{else}}
    <div class="checkbox">
        <label>
            <input type="checkbox" value="">
            {{ model.name }}
        </label>
    </div>
{{/if}}