<div class="vote">
    <div class="vote-bar hidden-xs">
        <div class="vote-avatar">
            <img src="/images/user.png">
        </div>
        <div class="vote-addition">

        </div>
    </div>
    <div class="vote-body">
        <div class="vote-head">
            <div class="vote-header">
                <h3>{{ title }}</h3>
                <h5>Opened by: {{ _meta.user.first_name }}  {{ _meta.user.last_name }}</h5>
                <div class="vote-tags">
                    <span>#movie</span><span>#Cinema</span>
                </div>
            </div>
            <div class="vote-control">
                <a>Edite</a><a>Share</a>
            </div>
        </div>
        <div class="vote-question">
            <p>This should activate links by clicking without any javascript functions needed and will also automa</p>
            <div class="checkbox">
                <label>
                    <input type="checkbox" value="">
                    Option one is this and that&mdash;be sure to include why it's great
                </label>
            </div>
            <div class="checkbox disabled">
                <label>
                    <input type="checkbox" value="" disabled>
                    Option two is disabled
                </label>
            </div>
            <div class="radio">
                <label>
                    <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
                    Option one is this and that&mdash;be sure to include why it's great
                </label>
            </div>
            <div class="radio">
                <label>
                    <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
                    Option two can be something else and selecting it will deselect option one
                </label>
            </div>
            <div class="radio disabled">
                <label>
                    <input type="radio" name="optionsRadios" id="optionsRadios3" value="option3" disabled>
                    Option three is disabled
                </label>
            </div>
        </div>
        <div class="vote-attachments">
            Attachments
        </div>
        <div class="vote-comments">
            <h4>{{ _meta.comments }} Comments</h4>
            <div id="comments">

                <div class="vote-comment-add">
                    <div class="vote-comment-avatar">
                        <img src="/images/user.png">
                    </div>
                    <div class="vote-comment-body">
                        <textarea class="form-control" rows="3" placeholder="Comment..."></textarea>
                        <div class="vote-comment-attachment"><a>Attach</a></div>
                        <button class="btn btn-default">Add comment</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!--<div class="vote-comment">-->
<!--<div class="vote-comment-avatar">-->
<!--<img src="/images/user.png">-->
<!--</div>-->
<!--<div class="vote-comment-body">-->
<!--<h4>User <span>3 hours ago</span></h4>-->
<!--<p class="vote-comment-text">This should activate links by clicking without any javascript-->
<!--functions needed and will also automatically activate each link as you scroll through the-->
<!--corresponding linked sections of the page which a js onclick() will not.</p>-->
<!--</div>-->
<!--</div>-->