<div class="modal fade">
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title">Confirm action</h4>
        </div>
        <div class="modal-body">
            <p>Are you sure wish to stop &quot;<b>{{title}}</b>&quot; vote?</p>
            <p>Please enter reason of stop the vote:</p>
            <textarea rows="5" class="form-control description" id="summary_modal">{{model.summary}}</textarea>
            <div class="errors"></div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" id="stop-confirm-btn">Stop</button>
            <button class="btn btn-default" data-dismiss="modal">Cancel</button>
        </div>
    </div>
</div>