<div class="vote-new">
    <div class="vote-new-head">

    </div>
    <div class="vote-new-answers">
        <div class="form-group">
            <label for="usr">Answers:</label>
            <div id="vote-answers">

            </div>

        </div>
        <div class="vote-new-addAnswer">
            <button type="button" class="btn btn-default" id="addAnswer">
                <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span> Add Answer
            </button>
        </div>
    </div>
    <div class="vote-new-control">
        <!--<div class="vote-new-notification checkbox">-->
            <!--<label><input type="checkbox">Report me when someone leave a comment</label>-->
        <!--</div>-->
        <div class="vote-new-submit">
            <button id="delete" type="button" class="btn btn-md btn-danger">Delete Vote</button>
            <button id="start" type="button" class="btn btn-md btn-success">Start Vote</button>
        </div>
    </div>
    <div class="vote-new-access">
        <div class="form-group well">
            <label for="usr">Accessed:</label>
            <button type="button" class="btn btn-default btn-info js-to-accessed">Move all users to accessed</button>
            <div id="vote-access-users">
            </div>
        </div>
        <div class="form-group well">
            <label for="usr">Not accessed:</label>
            <button type="button" class="btn btn-default btn-info js-to-not-accessed">Move all users to not accessed</button>
            <div id="vote-new-addUsers">
            </div>
        </div>
    </div>
</div>

<div id="noAnswersModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Not enouph vote answers to save vote</h4>
            </div>
            <div class="modal-body">
                <p>Two or more vote answers needed to save vote</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>