<div class="vote-comment">
    <div class="vote-comment-avatar">
        <img src="/images/user.png">
    </div>
    <div class="vote-comment-body">
        <h4>User <span>4 hours ago</span></h4>
        <p class="vote-comment-text">This should activate links by clicking without any javascript functions needed and will also automatically activate each link as you scroll through the corresponding linked sections of the page which a js onclick() will not.</p>
    </div>
    <div class="vote-comments" id="comment-answer">

    </div>
</div>