<!--<div class="vote-comment">-->
    <div class="vote-comment-avatar">
        <img src="/images/user.png">
    </div>
    <div class="vote-comment-body">
        <h4>{{ _meta.user.first_name }} {{ _meta.user.last_name }} <span>{{ created_at }}</span></h4>
        <p class="vote-comment-text">{{ content_origin }}</p>
    </div>
    <div class="vote-comments" id="comment-answer">

    </div>
<!--</div>-->