<input type="text" class="form-control js-item-name limited-block-for-delete-button" value="{{model.name}}">
<button class="btn btn-md btn-danger delete-button"><i class="fa fa-trash"></i></button>
<div class="js-errors js-error-field"></div>