<div class="vote">
    <div class="vote-bar hidden-xs">
        <div class="vote-avatar">
            <img src="/images/user.png">
        </div>
        <div class="vote-addition">

        </div>
    </div>
    <div class="vote-body">
        <div id="vote-header"></div>
        <div id="answers">

        </div>
        <div class="vote-attachments">
            Attachments
        </div>
        <div class="vote-comments">
            <h4 id="count" style="display: inline;">{{ meta.comments }} Comments</h4>
            <h4 style="display: inline;margin-left: 10px;"><a style="cursor: pointer;" class="js-show-general-comments">Load general comments</a></h4><br>
            <div id="add-comment"></div>
            <div id="comments">


            </div>
            <div id="add-comment"></div>
        </div>
    </div>
</div>
