<div class="row votes">
    <div class="span1">&nbsp;</div>
    <div class="span10">
        <div class="widget widget-nopad">
            <div class="widget-header">
                <i class="fa fa-asl-interpreting"></i>&nbsp;
                <h3>Votes</h3>
                <div class="create-topic pull-right">
                    <a class="btn btn-warning btn-lg" href="#votes/create">
                        <i class="fa fa-plus"></i>&nbsp;<span class="hidden-xs">Add new vote</span>
                    </a>
                </div>
            </div>
            <!-- /widget-header -->
            <div class="widget-content" id="vote-items"></div>
            <!-- /widget-content -->
        </div>
    </div>
    <div class="span1">&nbsp;</div>
</div>