<div class="row users">
    <div class="span12">
        <div class="widget widget-nopad">
            <div class="widget-header"> <i class="fa fa-users"></i>
                <h3> Users</h3>
            </div>
            <!-- /widget-header -->
            <div class="widget-content" id="users"></div>
            <!-- /widget-content -->
        </div>
    </div>
</div>