<div class="forum-stats">
    <div class="forum-stats-head">Statistics</div>
    <div class="forum-stats-container">
        <div class="forum-stats-item">
            <img src="/images/user.png">
            <p>Topics</p>
            <span>8</span>
        </div>
        <div class="forum-stats-item forum-stats-border">
            <img src="/images/user.png">
            <p>Votes</p>
            <span>5</span>
        </div>
        <div class="forum-stats-item">
            <img src="/images/user.png">
            <p>Comments</p>
            <span>17</span>
        </div>
    </div>
</div>