<div class="modal collapse markdownHelp-z-index">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">×</span></button>
                <h4 class="modal-title">Markdown Help</h4>
            </div>
            <div class="modal-body">
                <table class="table table-bordered markdownHelp">

                    <thead>
                    <tr>
                        <th>Example</th>
                        <th>Result</th>
                    </tr>
                    </thead>

                    <tbody>

                    <tr>
                        <td># Header surrounded by h1 tag</td>
                        <td>
                            <h1>Header ...</h1>
                        </td>
                    </tr>

                    <tr>
                        <td>## Header surrounded by h2 tag</td>
                        <td>
                            <h2>Header ...</h2>
                        </td>
                    </tr>

                    <tr>
                        <td>###### Header surrounded by h6</td>
                        <td>
                            <h6>Header surrounded by h6</h6>
                        </td>
                    </tr>

                    <tr>
                        <td>**This is bold text**</td>
                        <td>
                            <strong>This is bold text</strong>
                        </td>
                    </tr>

                    <tr>
                        <td>*This text is italicized*</td>
                        <td>
                            <em>This text is italicized</em>
                        </td>
                    </tr>

                    <tr>
                        <td>**This text is _extremely_ important**</td>
                        <td>
                            <strong>This text is <em>extremely</em> important</strong>
                        </td>
                    </tr>

                    <tr>
                        <td>In the words of Abraham Lincoln:<br>
                            > Pardon my French
                        </td>
                        <td>
                            <p>In the words of Abraham Lincoln:</p>

                            <blockquote>
                                <p>Pardon my French</p>
                            </blockquote>
                        </td>
                    </tr>

                    <tr>
                        <td>Use `git status` to list all new or modified files that haven't yet been committed.</td>
                        <td>
                            <p>Use <code>git status</code> to list all new or modified files that haven't yet been
                                committed.</p>
                        </td>
                    </tr>

                    <tr>
                        <td>Some basic Git commands are:<br>
                            ```<br>
                            git status<br>
                            git add<br>
                            git commit<br>
                            ```<br></td>
                        <td>
                            <p>Some basic Git commands are:</p>

<pre><code>git status
git add
git commit
</code></pre>
                        </td>
                    </tr>

                    <tr>
                        <td>This site was built using [GitHub Pages](https://pages.github.com/).</td>
                        <td>
                            <p>This site was built using <a href="https://pages.github.com/">GitHub Pages</a>.</p>
                        </td>
                    </tr>

                    <tr>
                        <td>- George Washington<br>
                            - John Adams<br>
                            - Thomas Jefferson<br></td>
                        <td>
                            <ul>
                                <li>George Washington</li>
                                <li>John Adams</li>
                                <li>Thomas Jefferson</li>
                            </ul>
                        </td>
                    </tr>

                    <tr>
                        <td>1. James Madison<br>
                            2. James Monroe<br>
                            3. John Quincy Adams<br></td>
                        <td>
                            <ol>
                                <li>James Madison</li>
                                <li>James Monroe</li>
                                <li>John Quincy Adams</li>
                            </ol>
                        </td>
                    </tr>

                    <tr>
                        <td>Let's rename \*our-new-project\* to \*our-old-project\*.</td>
                        <td>
                            <p>Let's rename *our-new-project* to *our-old-project*.</p>
                        </td>
                    </tr>

                    </tbody>
                </table>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>
</div>