.dashboard .sidebar .bookmarks .subscriptions{
  width: auto;
}
.dashboard .bookmarks, .dashboard .messages, .dashboard .subscriptions{
  box-shadow: 0 2px 10px rgba(0,0,0,.25);
}
.dashboard .messages .messages-msg-avatar {
  display: none;
}
.dashboard .votes .votes-item {
  min-height: 110px;
  height: auto;
}
.dashboard .users .users-item-credential {
  overflow: hidden;
}

.dashboard .widget-header .fa {
  margin-left: 13px;
}