.new-comment-notification {
  display: none;
  text-align: center;
  cursor: pointer;
  background: #1eceab;
  padding: 5px;
  margin: 0 0 15px 5px;
  color: #ffffff;
}
.added-comments {
//  display: none;
  background: grey;
}