/*
MESSAGES LIST
*/

.messages a:hover {
  text-decoration: none;
  cursor: pointer;
}

.messages-user-item > a{
  width: 100%;
  display: flex;
  background-color: #fff;
}

.messages-user-item > div {
  display: inline-block;
}

.messages-msg-avatar {
  margin: 5px 0 5px 5px;
  height: 70px;
  width: 70px;
  padding: 5px;
}

.messages-msg-avatar img {
  height: 60px;
  width: 60px;
  border-radius: 50%;
}

.messages-msg {
  border: 1px solid #ddd;
  border-radius: 5px;
  margin: 5px;
  width: 100%;
  padding: 5px;
}

.messages-msg > * {
  display: block;
}

.messages-msg-body {
  padding: 10px;
}

.messages-user-item:hover .messages-msg-body,.messages-user-item  .unread {
  background-color: #fff4d2;
}

.messages-user-item:hover  .unread{
  background-color: #ffd992;
}

.messages-msg span {
  color: #555555;
  margin-left: 5px;
  margin-bottom: 5px;
  font-size: 16px;
}

.messages-msg i {
  color: #777777;
  margin-left: 5px;
}

.messages_layout {
  margin: 1em 0 0;
}

.messages_layout li{
  width: 100%;
  display: table;
  padding: 0 2em 0 1.5em;
  padding-bottom: 1em;
  margin-bottom: 1em;
  border-bottom: 1px dotted #CCC;
}

.messages_layout li:last-child {
  padding-bottom: 0; border: none;
}

/*
MESSAGE DIALOG
*/

.message-msg-container {
  border-bottom: #DDDDDD 1px solid;
  height: calc(100vh - 400px);
  overflow-y: auto;
  min-height: 320px;
}

.message-dialog {}

.message-msg-item {
  overflow: hidden;
  padding: 5px 0 5px;
}

.message-msg-date {
  color: #9d9d9d;
}

.message-msg-item .to {
  float: left;
}

.message-msg-item .to a{
  display: none;
}

.message-msg-item .to p {
  text-align: left;
}

.to .message-msg-body div{
  float: left;
  clear: left;
}


.message-msg-item .from {
  float: right;
  flex-direction: row-reverse;
}

.message-msg-item .from span{
  float: left;
}

.message-msg-item .from p {
  text-align: right;
}

.from .message-msg-body div{
  float: right;
  clear: right;
}

.message-msg-item a {
  float: left;
}

.message-item-container {
  width: 80%;
  display: flex;
}

.message-item-container .deleted a {
  display: none;
}

.message-msg-avatar {
  padding: 5px;
}

.message-msg-avatar img {
  height: 40px;
  width: 40px;
  border-radius: 50%;
}

.message-msg-body {
  padding: 0 5px;
  overflow: hidden;
}

.message-msg-body a {
  margin: 0 5px 0;
  font-size: 12px;
  float: right;
}

.message-msg-body p {
  margin-bottom: 2px;
  word-wrap: break-word;
}

.message-msg-body span {
  color: #999999;
  font-style: italic;
  font-size: 14px;
}

.message-msg-body > div {
  display: block;
}

.message-msg-body a:hover {
  cursor: pointer;
  text-decoration: none;
}

.message-new {
  width: 100%;
  padding: 10px 0;
}

.message-new form {
  margin-bottom: 0;
}

.message-new textarea, .message-edit textarea {
  resize: vertical;
  width: 100%;
  margin: 5px 0 5px;
  border-radius: 0;
  padding: 10px 15px;
  background-color: #E9E9E9;
  border: none;
  color: #555;
  font-size: 14px;
  font-weight: 400;
  min-height: 90px;
}

.message-new-control {
  padding-top: 5px;
  overflow: hidden;
}


.message-edit {
  /* padding: 15px; */
  background-color: #ffffff;
  border-radius: 0;
}

#message-edit-form {
  margin-bottom: 0;
}

.hotkey-checkbox-label {
  font-weight: normal;
  font-size: 12px;
}

input.hotkey-checkbox {
  margin-left: 20px;
}

.from-to-user {
  font-weight: bold;
}

.typeahead-container {
  text-align: center;
}

.twitter-typeahead {
  width: 100%;
}

.typeahead,
.tt-query,
.tt-hint {
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  height: 35px;
  line-height: 35px;
  outline: medium none;
  padding: 8px 12px;
  width: 100%;
}

.tt-menu {
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  margin-top: -10px;
  padding: 5px 0;
  text-align: left;
  width: 100%;
}

.tt-menu__link {
  display: block;
  padding: 3px 10px;
  color: #000;
  font-size: 16px;
  text-decoration: none;
}

.tt-menu__link:hover {
  background-color: #fff4d2;
}

.tt-suggestion {
  margin: 3px 0;
}