/*
NEW TOPIC VIEW STYLES
*/
#categoryForBreadcrumbs {
  float: left;
  text-transform: uppercase;
  color: #eb8764;
}

.topic-form {
  width: 100%;
  padding: 20px;
  background: #fff;
}

.topic-form > div {
  width: 100%;
  margin: 5px 0 15px;
}

.topic-new-head h4 {
  margin: 0 0 15px;
  font-weight: 400;
  font-size: 18px;
}

.topic {
  width: 100%;
  overflow: hidden;
  word-wrap: break-word;
}

.topic-new-title input {
  width: 100%;
  padding: 10px 15px;
  background-color: #E9E9E9;
  border: none;
  color: #555;
  font-size: 16px;
  font-weight: 400;
}

.topic-new-slug input {
  width: 100%;
  padding: 10px 15px;
  background-color: #E9E9E9;
  border: none;
  color: #555;
  font-size: 16px;
  font-weight: 400;
}

.topic-new-body textarea {
  resize: vertical;
  width: 100%;
  margin: 5px 0 5px;
  padding: 10px 15px;
  background-color: #E9E9E9;
  border: none;
  color: #555;
  font-size: 14px;
  font-weight: 400;
}

.topic-new-body a {
  float: right;
}

.topic-new-attachment {
  width: 100%;
  overflow: hidden;
}

.topic-new-control {
  border-top: #ddd 1px solid;
  padding: 15px 0 15px;
}

.topic-new-notification {
  display: inline-block;
  float: left;
}

.topic-new-notification label {
  color: #555;
  font-size: 14px;
  font-weight: 400;
}

.topic-new-submit {
  display: inline-block;
  float: right;
}

.topic-new-submit input {
  padding: 5px 35px;
  border-radius: 0;
  border: none;
  color: #555;
  font-size: 14px;
  font-weight: 800;
  background-color: #ffd992;
}

.topic-new-submit input:hover {
  background-color: #f9c172;
}

/*
TOPIC DETAILS
*/

.topic {
  width: 100%;
  padding: 0 15px;
}

.topic-comment-item {
  margin: 20px 0;
}

.topic-comment-main, .topic-comment {
  background: #FFF;
  border-radius: 3px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, .23);
}

.topic-comment-included {
  padding-left: 60px;
  padding-right: 15px;
}

.topic-comment-flex {
  padding: 15px;
  display: flex;
  border-bottom: #d9d9d9 1px solid;
}

.topic-bar {
  width: 80px;
  padding: 0 5px;
  margin-top: 10px;
  margin-right: 15px;
  display: inline-block;
  float: left;
}

.topic-avatar {
  margin: 0 auto;
  padding-bottom: 10px;
}

.topic-avatar-border {
  border-bottom: #d9d9d9 1px solid;
}

.topic-avatar img {
  width: 60px;
  height: 60px;
  border-radius: 30px;
}

.topic-body {
  width: 100%;
  display: inline-block;
  overflow: hidden;
  word-wrap: break-word;
}

.topic-body textarea {
  resize: vertical;
  width: 100%;
}

.topic-attachment {
  float: right;
  padding: 5px;
}

.topic-attachment a {
  padding: 5px;
}

.topic-header h4 {
  margin-top: 0;
  margin-bottom: 0;
}

.topic-msg {
  color: #777;
  margin-top: 10px;
}

.topic-msg .topic-comment {
  border: #DDD 1px solid;
}

.topic-msg .topic-control-btn {
  display: none;
}

.topic-msg .topic-bar {
  display: none;
}

.topic-msg .topic-comment-flex {
  padding-top: 5px;
  padding-bottom: 0;
  padding-right: 5px;
}

.topic-msg .topic-msg {
  margin-top: 0;
}

.topic-msg .topic-history-margin {
  display: none;
}

.topic-tags span  {
  background: #ffec96;
  border: #ffc761 1px solid;
  font-size: 12px;
  padding: 2px;
  border-radius: 4px;
  margin-right: 10px;
  display: inline-block;
}

.topic-control {
  padding: 0 15px;
  overflow: hidden;
}

.topic-history-margin {
  width: 80px;
  margin-right: 10px;
  display: inline-block;
}

.topic-history {
  margin: 10px 0;
  display: inline-block;
  color: #AAA;
}

.topic-control-btn {
  display: inline-block;
  float: right;
}

.topic-control-btn button {
  border: 0;
  background: transparent;
  //  color: #337ab7;
}

.topic-control-btn a, .topic-control-btn button {
  padding: 10px;
  vertical-align: middle;
  display: inline-block;
  height: 100%;
}

.topic-control-btn a:hover, .topic-control-btn button:hover {
  cursor: pointer;
  text-decoration: none;
  background: #ddd;
}

.topic-control-add {
  padding: 15px 0;
}

.topic-more {
  margin-top: 15px;
  background: #fff;
  font-weight: 600;
  font-size: 16px;
  color: #999;
  display: block;
  padding: 10px;
  width: 100%;
  height: auto;
  text-align: center;
  margin-bottom: 20px;
}

.topic-more:hover {
  color: #999;
  cursor: pointer;
  text-decoration: none;
  background: #ddd;
  animation-duration: 1s;
}

.topic-item {
  width: 100%;
  height: 80px;
  display: flex;
  margin-bottom: 20px;
}

.topic-head {
  margin-bottom: 20px;
}

.topic-comment-main .close-btn {
  padding: 10px;
}

.new-comment-container .loader img {
  height: 30px;
}

.topic-count {
  text-decoration: none;
  text-transform: lowercase;
  color: #54dea0;
}

.category-topic-time {
  font-size: 12px;
  color: #999999;
}

.post {
  overflow: hidden;
}

.posts a:hover {
  text-decoration: none;
  cursor: pointer;
  background-color: papayawhip;
}

.post-item {
  width: 100%;
  height: auto;
  display: flex;
  border-bottom: 1px solid #EEEEEE;
  overflow: hidden;
  text-decoration: none;
  cursor: pointer;
  padding-top: 10px;
  margin-left: 0 !important;
  margin-bottom: 10px;
  word-wrap: break-word;
}

.post-item:nth-child(even) {
  background: #fff;
}

.errors {
  color: red;
}

.edit-category {
  margin-right: 20px;
}

.attachments-container .file-name {
  overflow: hidden;
}

.topic-control .childs-btn {
  padding: 10px;
}

.btn-childs {
  border-radius: 0;
}

.newcomment .comment-modal textarea {
  resize: vertical;
}

.topic-item-icons span {
  margin-right: 15px;
}

.create-topic {
  margin-right: 10px;
  margin-left: 10px;
}
