/*
USER LIST
*/

.users li {
  padding: 0;
}

.users a:hover {
  text-decoration: none;
  cursor: pointer;
}

.users-item {
  width: 100%;
  display: flex;
}

.users-item > div {
  display: inline-block;
}

.users-item-avatar {
  margin: 5px;
  height: 40px;
  width: 40px;
  padding: 2px;
}

.users-item-avatar img {
  height: 36px;
  width: 36px;
  border-radius: 3px;
}

.users-item-credential {
  margin-top: 10px;
  font-weight: 600;
  width: 100%;
}

.users-item-name {
  font-size: 16px;
  color: #555555;
}

.users-item-email a{
  font-size: 12px;
  color: rgba(255, 136, 40, 0.7);
}

.users-item-msg {
  float: right;
  margin-right: 5px;
}

.users-item-msg a{
  height: 100%;
  font-size: 36px;
  display: flex;
}

//
.users-item-vote{
  float: right;
  margin-right: 5px;
}

.users-item-vote a{
  height: 100%;
  display: flex;
  padding: 20px 10px;
}

.users-item-vote a:hover{
  background-color: #ffd992;
}

.users-item-vote a img {
  margin-right: 5px;
  height: 40px;
}

.users-item-vote a span {
  color: #555555;
  display: table-cell;
  vertical-align: middle;
  height: 40px;
  font-size: 18px;
  font-weight: 800;
  width:350px;
}
//

.users-item-permission {
  padding: 5px 0;
}

.users-item-permission select {
  width: 150px;
  margin: 5px 20px 5px 0;
  padding: 5px;
  background-color: #E9E9E9;
  border: none;
  color: #555;
  font-size: 14px;
  font-weight: 400;
}

.users-item-permission select:hover {
  background-color: #E0E0E0;
}