/*
VOTE DETAIL
*/

.vote {
  padding: 25px 15px 15px 0;
  background-color: #fff;
  display: flex;
}

.vote-bar {
  padding: 0 15px;
  display: inline-block;
  float: left;
}

.vote-avatar {
  margin: 0 auto;
}

.vote-avatar img {
  width: 70px;
  height: 70px;
  border-radius: 35px;
}

.vote-body {
  /* width: calc(100% - 80px); */
  display: inline-block;
}

.vote-header h3 {
  margin-top: 0;
}

.vote-header h5 {
  color: #999999;
}

.vote-tags a {
  color: #333;
}

.vote-tags a span {
  background: #ffec96;
  border: #ffc761 1px solid;
  font-size: 12px;
  padding: 2px;
  border-radius: 4px;
  margin-right: 10px;
  display: inline-block;
}

.vote-control {
  margin: 5px 0;
}

.vote-control a {
  color: #999999;
  margin-right: 20px;
}

.vote-attachment {
  float: right;
  padding: 5px;
}

.vote-attachment a {
  padding: 5px;
}

.vote-comments {
  margin-top: 40px;
}

.vote-comments > h4 {
  font-weight: 600;
}

.vote-comment-avatar {
  width: 60px;
  display: inline-block;
  float: left;
}

.vote-comment, .vote-comment-add {
  margin-bottom: 20px;
  margin-left: 10px;
}

.vote-comment-avatar img {
  width: 50px;
  height: 50px;
  border-radius: 25px;
}

.vote-comment-body {
  width: calc(100% - 60px);
  display: inline-block;
}

.vote-comment-body h4 {
  margin-top: 0;
}

.vote-comment-body span {
  color: #999999;
  font-size: 90%;
}

.vote-comment-body button {
  float: right;
  margin-top: 5px;
}

/*
VOTE INDEX
*/

.votes {

}

.votes-item-add a{
  text-transform: capitalize;
  display: block;
  width: 100%;
  padding: 15px 0 15px;
  text-align: center;
  background-color: #ffffff;
  border-bottom: #dddddd 1px solid;
  font-weight: 600;
  font-size: 18px;
  color: #999999;
}

.votes-item-add a:hover{
  text-decoration: none;
  background-color: #ffd992;
  color: #777777;
  cursor: pointer;
}

.votes-item {
  background-color: #ffffff;
  border-bottom: #dddddd 1px solid;
  padding: 10px;
  display: flex;
  width:100%;
  height: 110px;
}

.votes-item:hover {
  background-color: papayawhip;
  cursor: pointer;
}

.votes-item-bar {
  padding-right: 15px;
  display: inline-block;
  float: left;
}

.votes-item-avatar img {
  width: 70px;
  height: 70px;
  border-radius: 35px;
}

.votes-item-body {
  width: 100%;
  display: inline-block;
}

.votes-item-title {
  width: 100%;
  margin: 0 0 5px;
}

.votes-item-title span {
  font-weight: 600;
  font-size: 16px;
}

.votes-item-tags span {
  background: #ffec96;
  border: #ffc761 1px solid;
  font-size: 12px;
  padding: 2px;
  border-radius: 4px;
  margin-right: 10px;
  margin-top: 10px;
  display: inline-block;
}

.votes-item-details a{
  color: #999999;
  font-size: 14px;
  font-weight: 500;
  margin-right: 20px;
}

.votes-item-details a:hover {
  text-decoration: none;
  color: #777777;
  cursor: pointer;
}

.votes-item-time {
  float: right;
  font-size: 12px;
  color: #999999;
}

/*
 NEW VOTE
 */

.vote-new {
  width: 100%;
  padding: 20px;
  background: #fff;
}

.vote-new a:hover {
  text-decoration: none;
  cursor: pointer;
}

.vote-new > div {
  width: 100%;
  margin: 5px 0 5px;
  padding: 5px 0 5px;
  border-bottom: #DDD 1px solid;
  overflow: hidden;
}

.vote-new-head h4{
  margin: 0 0 15px;
  font-weight: 400;
  font-size: 18px;
}

.vote-new-addAnswer button {
  width: 100%;
  padding: 10px 35px;
  border-radius: 0;
  border: none;
  color: #555;
  font-size: 14px;
  font-weight: 800;
  background-color: #ffd992;
}

.vote-new-addAnswer button:hover {
  background-color: #f9c172;
}

.vote-new-date input {
  width: 150px;
  margin: 5px 20px 5px 0;
  padding: 10px;
  background-color: #E9E9E9;
  border: none;
  color: #555;
  font-size: 14px;
  font-weight: 400;
}

.vote-new-users small {
  font-size: 12px;
  color: #777777;
}

.vote-new-users span{
  margin: 0 10px 5px 0;
  padding: 5px 15px;
  border-radius: 0;
  display: inline-block;
  border: none;
  color: #555;
  font-size: 14px;
  font-weight: 800;
  background-color: #ffd992;
}

.vote-new-users span:hover {
  background-color: #f97871;
}

.vote-new-addUsers {
  margin: 5px 0 5px;
  display: flex;
}

.vote-new-addUsers input{
  width: 100%;
  padding: 10px 15px;
  background-color: #E9E9E9;
  border: none;
  color: #555;
  font-size: 14px;
  font-weight: 400;
  display: inline-block;
}

.vote-new-addUsers button {
  display: inline-block;
  border: none;
  width: 100px;
  margin-left: 10px;
  height: 40px;
  background-color: #ffd992;
  color: #555;
}

.vote-new-addUsers button:hover {
  background-color: #f9c172;
}

.vote-new-attachment {
  width: 100%;
  overflow: hidden;
}

.vote-new-attachment a {
  float: right;
}

.vote-new-control {
  padding: 15px 0 15px;
}

.vote-new-notification {
  display: inline-block;
  float: left;
}

.vote-new-notification label {
  color: #555;
  font-size: 14px;
  font-weight: 400;
}

.vote-new-submit {
  display: inline-block;
  margin: 5px 0;
  float: right;
}

.vote-new-submit input {
  padding: 5px 35px;
  border-radius: 0;
  border: none;
  color: #555;
  font-size: 14px;
  font-weight: 800;
  background-color: #ffd992;
}

.vote-new-submit input:hover {
  background-color: #f9c172;
} 

.vote-new-access {
  display: none;
}

.js-errors {
  color: indianred;
}

.create-vote-users-item-msg span {
  display: none;
}

.create-vote-users-item:hover > .create-vote-users-item-msg span{
  display: inline-block;
  float: right;
  margin: 15px 15px;
}

.create-vote-users-item > *:hover {
  cursor:pointer;
}

.create-vote-email {
  color: rgba(255, 136, 40, 0.7);
}
