<div class="row bookmarks">
    <div class="span12">
        <div class="widget widget-nopad">
            <div class="widget-header"> <i class="fa fa-bookmark"></i>
                <h3> My Bookmarks</h3>
            </div>
            <!-- /widget-header -->
            <div class="widget-content" id="bookmarks"></div>
            <!-- /widget-content -->
        </div>
    </div>
</div>