<div class="bookmarks-item">
    <button class="btn btn-xs btn-danger delete-button"><i class="glyphicon glyphicon-trash"></i></button>
    <a href="#topics/{{model.topic_id}}">{{meta.topic.name}}</a>
</div>