<div id="header"></div>
<div id="navigationMenu"></div>
<div class="container">
    <div class="breadcrumbs-container" id="breadcrumbs">
        <ol class="breadcrumb">
            <li><a href="#"></a></li>
        </ol>
    </div>
    <div class="content-container">
        <div class="content-container-main" id="main-content">

        </div>
        <div class="content-container-bar hidden-xs" id="bar-content">

        </div>
    </div>
    <div class="spinner" id="spinner"></div>
</div>
<div class="footer"></div>

