<div class="row subscriptions">
    <div class="span12">
        <div class="widget widget-nopad">
            <div class="widget-header"> <i class="fa fa-bell"></i>
                <h3> Notification subscriptions</h3>
            </div>
            <!-- /widget-header -->
            <div class="widget-content" id="subscriptions"></div>
            <!-- /widget-content -->
        </div>
    </div>
</div>