<div class="subscriptions-item">
    <button class="btn btn-xs btn-danger delete-subscription-button"><i class="glyphicon glyphicon-trash"></i></button>
    <a href="#{{target.type}}/{{target.id}}">{{target.title}}</a>
</div>